<div class="py-5 bg-light" *ngIf="(tvSeriesSchedules$ | async)?.length">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div
        class="col"
        *ngFor="
          let tvSeriesSchedule of tvSeriesSchedules$ | async;
          trackBy: identify
        "
      >
        <div class="card shadow-sm">
          <svg
            *ngIf="!tvSeriesSchedule._embedded.show.image.medium"
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">NO THUMBNAIL</text>
          </svg>
          <img
            class="card-img-top image-with"
            *ngIf="tvSeriesSchedule._embedded.show.image.medium"
            [attr.src]="tvSeriesSchedule._embedded.show.image.medium"
            [attr.alt]="tvSeriesSchedule.name"
          />

          <div class="card-body">
            <h5 class="card-title">
              {{ tvSeriesSchedule.name }}
              <br />
              <small class="text-muted"
                >Season: {{ tvSeriesSchedule.season }}</small
              >
            </h5>
            <p class="card-text">
              <span [innerHTML]="tvSeriesSchedule.summary"></span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  routerLink="/schedules/detail/{{
                    tvSeriesSchedule._embedded.show.id
                  }}"
                >
                  View details
                </button>
              </div>
              <small class="text-muted"
                >Airtime:
                {{
                  tvSeriesSchedule.airtime ? tvSeriesSchedule.airtime : "-"
                }}</small
              >
            </div>
          </div>
        </div>
        {{ tvSeriesSchedule._embedded.show.genres }}
      </div>
    </div>
  </div>
</div>
