<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto"></header>

    <main class="px-3">
      <h1>Schedule</h1>
      <p class="lead">
        The schedule is a complete list of episodes that air in a given country
        on a given date.
      </p>
      <p class="lead">
        <a
          href="#"
          routerLink="schedules"
          class="btn btn-lg btn-secondary border-white bg-white"
          >Show TV series schedules by date</a
        >
      </p>
    </main>

    <footer class="mt-auto text-white-50"></footer>
  </div>
</div>
